{% macro input(form_data) %}
	<input
		{% if form_data.id %}id="{{ form_data.id }}"{% endif %}
		type="{{ form_data.type }}"
		name="{{ form_data.name }}"
		{% if form_data.size %}size="{{ form_data.size }}"{% endif %}
		{% if form_data.maxlength %}maxlength="{{ form_data.maxlength }}"{% endif %}
		{% if form_data.min %}min="{{ form_data.min }}"{% endif %}
		{% if form_data.max %}max="{{ form_data.max }}"{% endif %}
		{% if form_data.type == 'password' %}autocomplete="off"{% endif %}
		{% if form_data.checked %}checked="checked"{% endif %}
		{% if form_data.class %}class="{{ form_data.class }}"{% endif %}
		value="{{ form_data.value }}"
	>
{% endmacro %}

{% macro dimension(form_data) %}
	{{ _self.input(form_data.width) }} x {{ _self.input(form_data.height) }}
{% endmacro %}

{% macro textarea(form_data) %}
	<textarea
		id="{{ form_data.id }}"
		name="{{ form_data.name }}"
		rows="{{ form_data.rows }}"
		cols="{{ form_data.cols }}"
	>
		{{ form_data.content }}
	</textarea>
{% endmacro %}

{% macro radio_buttons(form_data) %}
	<label>{{ _self.input(form_data.buttons[0]) ~ form_data.buttons[0].label }}</label>
	<label>{{ _self.input(form_data.buttons[1]) ~ form_data.buttons[1].label }}</label>
{% endmacro %}
